rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userbadges/{documentId} {
      // Allow read access to documents in the userbadges collection
      // when the request is for a specific document ID
      allow read: if true; // Add additional conditions if needed

      // Allow write, update, and delete access to authenticated users with the "admin" role
      allow write, update, delete: if request.auth != null && request.auth.token.role == 'admin';
    }
  }
}

